{% extends 'base.html' %}

{% block title %}All Files{% endblock %}

{% block heading %}All Files{% endblock %}

{% block content %}

{% include 'flash_msgs.html' %}

<p class="mt-3"><a href="{{ url_for('main.index') }}" class="btn btn-secondary">Back to Home</a></p>

    <div class="row row-cols-sm-1 row-cols-md-5 g-4">
        {% if files %}
            {% for file in files %}
                <div class="col">
                  <div class="card">
                    {% if file.suffix.lower() in ('.jpg', '.jpeg', '.png', '.gif') %}
                        <img src="{{ url_for('main.download_file', filename=file.name) }}" class="card-img-top img-fluid" alt="image">
                    {% endif %}

                    <div class="card-body">
                      <p>
                        <code>
                          {% if file.name|length > 21 %}
                              {{ file.name[:21] + '...' }}
                          {% else %}
                              {{ file.name }}
                          {% endif %}
                        </code>
                      </p>
                      <div class="d-inline-flex gap-1">
                        <button class="btn btn-primary btn-sm" type="button">Select</button>

                        <form method="POST" action="{{ url_for('main.download_file', filename=file.name) }}">
                            <button type="submit" class="btn btn-warning btn-sm">Download</button>
                        </form>

                        <form method="POST" action="{{ url_for('main.delete_file', filename=file.name) }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                      </div>
                      
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No files yet! Upload one!</p>
        {% endif %}
    </div>

    <br>

{% endblock %}

{% block scripts %}{% endblock %}
