<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-rf3zDlS4Sv0BrC0zNu73W7R2fYHZnt4N0F5n0B5zQsRrNCt+T6j63X+oSNN8Y8eNncWy5e4UqP0z0iebjZCg5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-Gn5384xqQ1ao0+vGYpK8HzlWAOwq9gKlRSUQedqtwWA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-DzZO+gLC/np7X7k2kUfWS3UmUdFssFuDJ9lGzmQ5HOB6Pnu7UJs9JPpGg1uiG1pX/vQlLx1J4lvuS4u99+WpJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% block styles %}{% endblock %}
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">{% block heading %}File Transfer{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
